<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>


<div class="card card-image" style="background-image:url( /uploads/<%= news.upload %>); background-repeat:no-repeat; background-size:100%">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      
      <h2 class="card-title h2 my-4 py-2"><%= news.title %></h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
        obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
        perferendis vitae cumque et quo impedit.</p>
      

    </div>
  </div>
</div>
  


<div class="jumbotron" style="text-align:center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">        
            <h4>기간</h4>
            <h3>00/00 시작</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <h4>참여 인원</h4>
              <h3>00명/00명</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <h4>보증금</h4>
              <h3>00원</h3>
          </div>
        </div>
      </div>
      
    </div>


  </div>

  <div class="text-center">
  <a href="/news/study" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">스터디 참여하기</a>
</div>
  

  <!--

<% if (news) { %>
  
    
  <div class="row">
    <div class="col">
      <h1><%= news.title %></h1>
      <h5>분류: <%= news.category_title %> / 기자: <%= news.author %></h5>
      <p>
        입력: <%= moment(news.inserted).format('YYYY-MM-DD h:mm:ss a') %>
        <% if (news.updated) { %>/ 수정: <%= moment(news.updated).format('YYYY-MM-DD h:mm:ss a') %><% } %>
      </p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col" style="white-space: pre-line;">
      <%- news.desc %>
    </div>
    <div class="col">
      <% if (typeof news.upload !== 'undefined' && news.upload) { %>
        <img src="/uploads/<%= news.upload %>">
      <% } %>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <hr>
      </div>
  </div>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">


    <div class="btn-group" role="group" aria-label="First group">
      <a href="/news/<%= news.id %>/edit" class="btn btn-outline-primary">수정</a>
      <a href="/news/<%= news.id %>/delete" class="btn btn-outline-secondary">삭제</a>
    </div>
    <div class="input-group">
      <a href="/news/" class="btn btn-outline-info">목록</a>
    </div>
  </div>


 <div class="row">
    <div class="col">
        <hr>
        <h4>댓글</h4>
       
        <form method="post" action="/news/<%= news.id %>/comment">
            <div class="form-group">
              <label for="exampleInputEmail1">이름</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="author">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">내용</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">작성하기</button>
        </form>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        
        <% if (comments.length>0) { %>
          <ul class="list-group list-group-flush">
            <% for(var i=0; i < comments.length; i++) { %>
              <li class="list-group-item">
                <strong><%= comments[i].author %>님 작성, </strong>
                <%= comments[i].desc %>
                - 
                <i><%= moment(comments[i].inserted).format('YYYY-MM-DD h:mm:ss a') %></i>
              </li>
            <% } %>
          </ul>
        <% } else { %>
          <p>댓글이 아직 없어요.</p>
        <% } %>
    </div>
</div>

      

<% } else { %>
  <p>Not exist</p>
<% } %>
-->
</div>
<%- include('includes/footer'); -%>
