<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<!--<div class="row">
    <div class="col">
        <hr>
        <h4>댓글</h4>
       
        <form method="post" action="/news/<%= news.id %>/comment">
            <div class="form-group">
              <label for="exampleInputEmail1">이름</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="author">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">내용</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">작성하기</button>
        </form>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        
        <% if (comments.length>0) { %>
          <ul class="list-group list-group-flush">
            <% for(var i=0; i < comments.length; i++) { %>
              <li class="list-group-item">
                <strong><%= comments[i].author %>님 작성, </strong>
                <%= comments[i].desc %>
                - 
                <i><%= moment(comments[i].inserted).format('YYYY-MM-DD h:mm:ss a') %></i>
              </li>
            <% } %>
          </ul>
        <% } else { %>
          <p>댓글이 아직 없어요.</p>
        <% } %>
    </div>
</div>
-->
      

<% } else { %>
  <p>Not exist</p>
<% } %>


<%- include('includes/footer'); -%>